<section id="header" class="wrapper">
    
                        <!-- Logo -->
                            <div id="logo">
                                <h1><a href="index.html">Zachary Guan</a></h1>
                            
                            </div>
                            
    
                        <!-- Nav -->
                            <nav id="nav">
                                <ul>
    
                                    <li class="current"><a href="index.html" style= "color:black">Home</a></li>
                                    <li><a href="about.html" style= "color:black">About</a></li>
                                    <li><a href="interests.html" style= "color:black"> Interests </a></li>
                                    <li><a href="classes.html" style= "color:black">Classes</a></li>
                                    <li><a href="contact.html" style= "color:black">Contact</a></li>
                                    <li>
                                        <!--a href="#">Learn About Me</a>
                                        <ul>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Contact</a></li>
                                            <li><a href="#">Classes</a></li>
                                            <li>
                                                <a href="#">Sed consequat</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                    <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                    <li><a href="no-sidebar.html">No Sidebar</a></li-->
                                </ul>
                            </nav>
    
                    </section>